{% extends 'index.html' %}

{% block head-page-specific-plugin-styles %}
	<!-- 特定页面CSS -->
		<link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.full.min.css" />
		<link rel="stylesheet" href="/static/css/datepicker.css" />
		<link rel="stylesheet" href="/static/css/ui.jqgrid.css" />
{% endblock %}




{% block body-breadcrumb %}
						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="/">Home</a>
							</li>
							<li>工单系统</li>
							<li class="active">我的审核工单</li>
						</ul><!-- .breadcrumb -->
{% endblock %}


{% block body-page-content %}

	{% if page_content == 0 %}
		<div class="page-content">
			<div class="row">

				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->

					<table id="mycheck-table"></table>

					<div id="mycheck-pager"></div>

					<script type="text/javascript">
						var $path_base = "/";//this will be used in gritter alerts containing images
					</script>

					<!-- PAGE CONTENT ENDS -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->	
	{% else %}
		<div class="page-content"> 
			<div class="row">
				<div class="space-4"></div>
				<div class="space-4"></div>
				<div class="space-4"></div>
				<div class="space-4"></div>

				<!--工单header-->
				<div class="col-xs-12 col-sm-12">
					<div class="table-responsive">
						<table id="sample-table-1" class="table table-bordered">

							<tbody>
								<tr>
									<td style="width:8%;" bgcolor='#b5bbed'><b>标题</b></td>
									<td style="width:50%;">{{ tickets_info.ticket_title }}</td>
									<td style="width:8%;" bgcolor='#b5bbed'><b>创建者</b></td>

									<td >{{ tickets_info.ticket_creator }}</td>
								</tr>

								<tr>
									<td style="width:8%;" bgcolor='#b5bbed'><b>工单号</b></td>
									<td style="width:50%;">{{ tickets_info.ticket_id }}</td>
									<td style="width:8%;" bgcolor='#b5bbed'><b>创建时间</b></td>

									<td>{{ tickets_info.ticket_ctime }}</td>
								</tr>
								<tr>
									<td style="width:8%;" bgcolor='#b5bbed'><b>流程状态</b></td>
									<td>
										<span class="label label-info arrowed-right arrowed-in">{{tickets_info.ticket_creator}}</span>
										<i class="icon-arrow-right icon-on-right"></i>
										{% for checkper in tickets_info.ticket_checkleader %}
										<span class="label label-info arrowed-right arrowed-in"> {{ checkper }} </span>
										<i class="icon-arrow-right icon-on-right"></i>
										{% endfor %}
										<span class="label label-info arrowed-right arrowed-in">{{ tickets_info.ticket_executor }}</span>
									</td>
									<td style="width:8%;" bgcolor='#b5bbed'><b>操作</b></td>
									<td>
										<div class="btn-group">
											<button class="btn btn-sm btn-success" onclick="TicketOperatingCheckok('{{tickets_info.ticket_id}}');">审核通过</button>
											<button class="btn btn-sm btn-warning" onclick="TicketOperatingCheckno('{{tickets_info.ticket_id}}');">审核不通过</button>
											<button class="btn btn-sm btn-info" data-toggle="modal" data-target="#modalTicketForwarding" onclick="TicketForwarding('{{tickets_info.ticket_id}}');">转发审核</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>

					</div><!-- /.table-responsive -->
				</div><!-- /span -->

				<!--工单详情-->
				<div class="col-xs-12 col-sm-12">
					<div class="widget-box">
						<div class="widget-header widget-header-blue widget-header-flat">
							<h4>工单详情</h4>

							<div class="widget-toolbar">

								<a href="#" data-action="collapse">
									<i class="icon-chevron-up"></i>
								</a>
							</div>

						</div>

						<div class="widget-body">
							<div class="widget-main">
								<form class="form-horizontal" role="form" action="/myticket/" method="post">
									<input type="hidden" id="type" name="type" value="modifyticket"/>
									<input type="hidden" id="needticketid" name="needticketid" value="{{ tickets_info.ticket_id }}" />
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="needrequire"> 需求 </label>

										<div class="col-sm-9">
											{% if tickets_info.ticket_status == 1 %}
											<textarea id="needrequire" name="needrequire" class="col-xs-10 col-sm-8"  placeholder="请输入你的需求">{{ tickets_info.ticket_require }}</textarea>
											{% else %}
											<textarea id="needrequire" name="needrequire" class="col-xs-10 col-sm-8"  placeholder="请输入你的需求" readonly="true" >{{ tickets_info.ticket_require }}</textarea>
											{% endif %}
										</div>
									</div>

									<div class="space-4"></div>

									{% if tickets_info.ticket_status == 4 %}
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right " for="needresult"> 结果 </label>

										<div class="col-sm-9">
											<textarea id="needresult" name="needresult" class="col-xs-10 col-sm-8"  placeholder="请输入处理结果"></textarea>
										</div>
									</div>
									{% endif %}
									<div class="space-4"></div>

									{% if tickets_info.ticket_status == 1 %}
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">

											<button class="btn btn-info" type="submit" id="submit" name="submit">
												<i class="icon-ok bigger-110"></i>
												提交
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn btn-yellow" type="save" id="save" name="save">
												<i class=" icon-hdd bigger-110"></i>
												保存
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="icon-undo bigger-110"></i>
												重置
											</button>
										</div>
									</div>
									{% endif %}
								</form>
							</div>
						</div>
					</div>
				</div><!-- /span -->

				<!--操作记录-->
				<div class="col-xs-12 col-sm-12">
					<div class="widget-box">
						<div class="widget-header widget-header-blue widget-header-flat">
							<h4>操作记录</h4>

							<div class="widget-toolbar">
								<a href="#" data-action="collapse">
									<i class="icon-chevron-up"></i>
								</a>
							</div>
						</div>

						<div class="widget-body">
							<div class="widget-main padding-8">
								<div id="profile-feed-1" class="profile-feed">

									{%for operating in operating_info%}
									<div class="profile-activity clearfix">
										<div>
											<i class="pull-left thumbicon icon-picture btn-info no-hover"></i>
											{{ operating.operating_ctime }}
											<a class="user" href="#"> {{ operating.operating_operator }} </a>
											{{ operating.operating_type }}
											
											<div>
												{{ operating.operating_content }}
											</div> 
											<!-- <div class="time">
												<i class="icon-time bigger-110"></i>
												5 ago
											</div>  -->
										</div>

										<!-- 										
										<div class="tools action-buttons">
											<a href="#" class="blue">
												<i class="icon-pencil bigger-125"></i>
											</a>

											<a href="#" class="red">
												<i class="icon-remove bigger-125"></i>
											</a>
										</div> -->
									</div>
									{%endfor %}

								</div>
							</div>
						</div>
					</div>
				</div><!-- /span -->

				<!--评论回复-->
				<div class="col-xs-12 col-sm-12">

					<div class="widget-box">
						<div class="widget-header widget-header-blue widget-header-flat">
							<h4>评论回复</h4>

							<div class="widget-toolbar">
								<a href="#" data-action="collapse">
									<i class="icon-chevron-up"></i>
								</a>
							</div>
						</div>


						<div class="widget-body">
							<div class="widget-main no-padding">
								<div class="dialogs">
									<div id="profile-feed-1" class="profile-feed">
										{%for reply in reply_info%}
										<div class="profile-activity clearfix">
											<div>
												<i class="pull-left thumbicon icon-picture btn-info no-hover"></i>
												{{ reply.reply_ctime }}
												<a class="user" href="#"> {{ reply.reply_author }} </a>
												<div>
													{{ reply.reply_content }}
												</div> 
											</div>
										</div>
										{%endfor %}
									</div>
								</div>

								<form>
									<div class="form-actions">
										<div class="input-group">
											<input placeholder="在这里输入你的消息 ..." type="text" class="form-control" id="message" name="message" />
											<span class="input-group-btn">
												<button class="btn btn-sm btn-info no-radius" type="button" onclick="SendMessage({{ tickets_info.ticket_id }});">
													<i class="icon-share-alt"></i>
													发送
												</button>
											</span>
										</div>
									</div>
								</form>
							</div><!-- /widget-main -->
						</div><!-- /widget-body -->
					</div>
				</div><!-- /span -->

			</div><!-- /.row -->

			<div class="modal fade bs-example-modal-sm" id="modalTicketForwarding" name="modalTicketForwarding" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<input type="hidden" id="ticket_id" name="ticket_id" value="0" />
							<h4 class="modal-title" id="modal_delect_title">转发审核</h4>
						</div>

						<div class="modal-body">
						<div class="row">
							<form class="form-horizontal">

								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="ticket_type_checkleader"> 转发至 </label>
									<div class="col-sm-10">
										<span>
			                            	<select name="firstcheckleader" id="firstcheckleader" style="width:140px">
			                            	</select>
			                         	</span>
									</div>
								</div>
							</form>
						</div>
						</div> <!-- END -->

						<div class="modal-footer">
							<button class="btn btn-info" id="submit" name="submit" onclick="sureTicketForwarding();">
								<i class="icon-ok bigger-110"></i>
								确定
							</button>
							&nbsp; &nbsp; &nbsp;
							<button type="button" class="btn btn-default" data-dismiss="modal">
								<i class="icon-remove bigger-110"></i>
								取消
							</button>
			      		</div>
			    	</div>
				</div>
			</div><!-- /.modal -->

		</div><!-- /.page-content -->
	{% endif %}

{% endblock %}


<!-- page specific plugin scripts -->
{% block body-page-specific-plugin-scripts %}
	<!-- 特定页面scripts -->
		<script src="/static/js/date-time/bootstrap-datepicker.min.js"></script>
		<script src="/static/js/jqGrid/jquery.jqGrid.min.js"></script>
		<script src="/static/js/jqGrid/i18n/grid.locale-en.js"></script>
{% endblock %}

	
<!-- inline scripts related to this page -->
{% block body-inline-scripts %}
		<script type="text/javascript">
			jQuery(function($) {
				var grid_selector = "#mycheck-table";
				var pager_selector = "#mycheck-pager";
			
				jQuery(grid_selector).jqGrid({
					//direction: "rtl",
					//data: 'json',
					//mtype: 'POST',
					url: '/mycheck?type=load',
					datatype: "json",
					height: 'auto',
					colNames:['工单号','标题','工单类型','创建人','创建时间','状态','当前处理人',' '],
					colModel:[

						{name:'ticket_id',index:'ticket_id', width:80,editable: false,editoptions:{size:"20",maxlength:"30"}},
						{name:'ticket_title',index:'ticket_title', width:80,editable: false,editoptions:{size:"20",maxlength:"60"}},
						{name:'ticket_type',index:'ticket_type', width:80,editable: false,editoptions:{size:"20",maxlength:"60"}},
						{name:'ticket_creator',index:'ticket_creator', width:40,editable: true,editoptions:{size:"20",maxlength:"30"}},
						{name:'ticket_ctime',index:'ticket_ctime',width:60, editable:false, sorttype:"date"},
						{name:'ticket_status',index:'ticket_status', width:40,editable: false,editoptions:{size:"20",maxlength:"30"}},
						{name:'opr',index:'opr', width:40,editable: true,editoptions:{size:"20",maxlength:"30"}},
						{name:'myac',index:'', width:80, fixed:true, sortable:false, resize:false}
					], 

					viewrecords : true,
					rowNum:10,
					rowList:[10,20,30],
					pager : pager_selector,
					altRows: true,
					//toppager: true,
					
					multiselect: true,
					//multikey: "ctrlKey",
			        multiboxonly: true,
			
					loadComplete : function() {
						var table = this;
						setTimeout(function(){
							styleCheckbox(table);
							
							updateActionIcons(table);
							updatePagerIcons(table);
							enableTooltips(table);
						}, 0);
					},
			
					editurl: '/mycheck/',//nothing is saved 注意结尾/ , APPEND_SLASH
					caption: "我的审核工单",
			
			
					autowidth: true,

					jsonReader: {
						root: "data",
						total: "total",
						page: "page",
						records: "records",
						repeatitems: false,
					},

		            gridComplete : function() {
		              var ids = jQuery("#mycheck-table").jqGrid('getDataIDs');
		              for ( var i = 0; i < ids.length; i++) {
		                var cl = ids[i];
						var x=document.getElementById('mycheck-table').rows[cl].cells;
						var ticketid=x[1].innerHTML
						var ticketstatus=x[6].innerHTML
		                be = "<a href='/mycheck/?type=view&ticketid="+ticketid+"'><button class='btn btn-sm btn-info'>详情</button></a>";
		                    //mycell(cl)
		                // se = "<input style='height:22px;width:20px;' type='button' value='S' onclick=\"jQuery('#myticket-table').saveRow('"
		                //     + cl + "');\" />";
		                // ce = "<input style='height:22px;width:20px;' type='button' value='C' onclick=\"jQuery('#myticket-table').restoreRow('"
		                //     + cl + "');\" />";
		                jQuery("#mycheck-table").jqGrid('setRowData', ids[i],
		                    {
		                      //myac : be + se + ce
		                      myac : be

		                    });
		              }
		            },
				});
			
				//enable search/filter toolbar
				//jQuery(grid_selector).jqGrid('filterToolbar',{defaultSearch:true,stringResult:true})
			
				//switch element when editing inline
				function aceSwitch( cellvalue, options, cell ) {
					setTimeout(function(){
						$(cell) .find('input[type=checkbox]')
								.wrap('<label class="inline" />')
							.addClass('ace ace-switch ace-switch-5')
							.after('<span class="lbl"></span>');
					}, 0);
				}
				//enable datepicker
				function pickDate( cellvalue, options, cell ) {
					setTimeout(function(){
						$(cell) .find('input[type=text]')
								.datepicker({format:'yyyy-mm-dd' , autoclose:true}); 
					}, 0);
				}
			
			
				//navButtons
				jQuery(grid_selector).jqGrid('navGrid',pager_selector,
					{ 	//navbar options
						edit: true,
						editicon : 'icon-pencil blue',
						add: true,
						addicon : 'icon-plus-sign purple',
						del: true,
						delicon : 'icon-trash red',
						search: true,
						searchicon : 'icon-search orange',
						refresh: true,
						refreshicon : 'icon-refresh green',
						view: true,
						viewicon : 'icon-zoom-in grey',
					},
					{
						//edit record form
						//closeAfterEdit: true,
						recreateForm: true,
						beforeShowForm : function(e) {
							var form = $(e[0]);
							form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
							style_edit_form(form);
						}
					},
					{
						//new record form
						closeAfterAdd: true,
						recreateForm: true,
						viewPagerButtons: false,
						beforeShowForm : function(e) {
							var form = $(e[0]);
							form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
							style_edit_form(form);
						}
					},
					{
						//delete record form
						recreateForm: true,
						beforeShowForm : function(e) {
							var form = $(e[0]);
							if(form.data('styled')) return false;
							
							form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
							style_delete_form(form);
							
							form.data('styled', true);
						},
						onClick : function(e) {
							alert(1);
						}
					},
					{
						//search form
						recreateForm: true,
						afterShowSearch: function(e){
							var form = $(e[0]);
							form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
							style_search_form(form);
						},
						afterRedraw: function(){
							style_search_filters($(this));
						}
						,
						multipleSearch: true,
						/**
						multipleGroup:true,
						showQuery: true
						*/
					},
					{
						//view record form
						recreateForm: true,
						beforeShowForm: function(e){
							var form = $(e[0]);
							form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
						}
					}
				)
			
			
				
				function style_edit_form(form) {
					//enable datepicker on "sdate" field and switches for "stock" field
					form.find('input[name=sdate]').datepicker({format:'yyyy-mm-dd' , autoclose:true})
						.end().find('input[name=stock]')
							  .addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');
			
					//update buttons classes
					var buttons = form.next().find('.EditButton .fm-button');
					buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
					buttons.eq(0).addClass('btn-primary').prepend('<i class="icon-ok"></i>');
					buttons.eq(1).prepend('<i class="icon-remove"></i>')
					
					buttons = form.next().find('.navButton a');
					buttons.find('.ui-icon').remove();
					buttons.eq(0).append('<i class="icon-chevron-left"></i>');
					buttons.eq(1).append('<i class="icon-chevron-right"></i>');		
				}
			
				function style_delete_form(form) {
					var buttons = form.next().find('.EditButton .fm-button');
					buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
					buttons.eq(0).addClass('btn-danger').prepend('<i class="icon-trash"></i>');
					buttons.eq(1).prepend('<i class="icon-remove"></i>')
				}
				
				function style_search_filters(form) {
					form.find('.delete-rule').val('X');
					form.find('.add-rule').addClass('btn btn-xs btn-primary');
					form.find('.add-group').addClass('btn btn-xs btn-success');
					form.find('.delete-group').addClass('btn btn-xs btn-danger');
				}
				function style_search_form(form) {
					var dialog = form.closest('.ui-jqdialog');
					var buttons = dialog.find('.EditTable')
					buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'icon-retweet');
					buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'icon-comment-alt');
					buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'icon-search');
				}
				
				function beforeDeleteCallback(e) {
					var form = $(e[0]);
					if(form.data('styled')) return false;
					
					form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
					style_delete_form(form);
					
					form.data('styled', true);
				}
				
				function beforeEditCallback(e) {
					var form = $(e[0]);
					form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
					style_edit_form(form);
				}
			
			
			
				//it causes some flicker when reloading or navigating grid
				//it may be possible to have some custom formatter to do this as the grid is being created to prevent this
				//or go back to default browser checkbox styles for the grid
				function styleCheckbox(table) {
					/**
					$(table).find('input:checkbox').addClass('ace')
					.wrap('<label />')
					.after('<span class="lbl align-top" />')
			
			
					$('.ui-jqgrid-labels th[id*="_cb"]:first-child')
					.find('input.cbox[type=checkbox]').addClass('ace')
					.wrap('<label />').after('<span class="lbl align-top" />');
					*/
				}
				
			
				//unlike navButtons icons, action icons in rows seem to be hard-coded
				//you can change them like this in here if you want
				function updateActionIcons(table) {
					/**
					var replacement = 
					{
						'ui-icon-pencil' : 'icon-pencil blue',
						'ui-icon-trash' : 'icon-trash red',
						'ui-icon-disk' : 'icon-ok green',
						'ui-icon-cancel' : 'icon-remove red'
					};
					$(table).find('.ui-pg-div span.ui-icon').each(function(){
						var icon = $(this);
						var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
						if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
					})
					*/
				}
				
				//replace icons with FontAwesome icons like above
				function updatePagerIcons(table) {
					var replacement = 
					{
						'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
						'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
						'ui-icon-seek-next' : 'icon-angle-right bigger-140',
						'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
					};
					$('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
						var icon = $(this);
						var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
						
						if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
					})
				}
			
				function enableTooltips(table) {
					$('.navtable .ui-pg-button').tooltip({container:'body'});
					$(table).find('.ui-pg-div').tooltip({container:'body'});
				}
			
				//var selr = jQuery(grid_selector).jqGrid('getGridParam','selrow');
			});

			function TicketOperatingCheckok(ticket_id){

				//{{tickets_info.ticket_id}}','check','0'  0:ok ,1:no
			    $.ajax({
			        url: '/mycheck/',
			        type: "POST",
			        dataType: "json",
			        data:{'type':'checkokticket','ticket_id':ticket_id},
			        error: function () {
			        	alert("mycheck xx");
			        },
			        success: function (data) {
			        	window.location.href="/mycheck/"
			        }
			    });
			}

			function TicketOperatingCheckno(ticket_id){

				//{{tickets_info.ticket_id}}','check','0'  0:ok ,1:no
			    $.ajax({
			        url: '/mycheck/',
			        type: "POST",
			        dataType: "json",
			        data:{'type':'checknoticket','ticket_id':ticket_id},
			        error: function () {
			        	alert("mycheck xx");
			        },
			        success: function (data) {
			        	window.location.href="/mycheck/"
			        }
			    });
			}


			function TicketForwarding(ticket_id){

				document.getElementById('ticket_id').value = ticket_id ;
				getCheckLeader();
			}


			function sureTicketForwarding(){

				var var_ticket_id = $("#ticket_id").val();

                var switchCheckLeader_val = $("#firstcheckleader").find("option:selected").val();
                //var ticket_type_executor_text = $("#ticket_type_executor").find("option:selected").text();
			    if(switchCheckLeader_val == '0'){
			        alert("请选择审核人");
			        $("#firstcheckleader").focus();
			        return false;
			    }

			    $.ajax({
			        url: '/mycheck/',
			        type: "POST",
			        dataType: "json",
			        data:{'type':'forwarding','ticket_id':var_ticket_id,'checkleader_uid':switchCheckLeader_val},
			        error: function () {
			        	alert("mycheck xx");
			        },
			        success: function (data) {
			        	window.location.href="/mycheck/"
			        }
			    });

			}

			// 获取审核人名单,设置(指定审核人)下拉选择框
			function getCheckLeader(){
			    $.ajax({
			        url: '/tickettype/',
			        type: "POST",
			        dataType: "json",
			        data:{'type':"getcheckleader"},
			        error: function () {
			            $("#firstcheckleader").html('<option value="0" >--选择审核人--</option>');
			        },
			        success: function (data) {

			        	var oplist = new Array();
			        	for( key_num in data ){
			        		oplist.push('<option value="' + data[key_num]['id'] + '">' + data[key_num]['username'] + '(' + data[key_num]['engname']  + ')</option>');
			        	}

			            $("#firstcheckleader").html('<option value="0" >--选择审核人--</option>'+oplist.join(''));
			            oplist = null;
			        }
			    });
			}

			//关闭 modalTicketForwarding 时触发
			$('#modalTicketForwarding').on('hide.bs.modal', function (e) {
				document.getElementById('ticket_id').value = "0";
			    $("#firstcheckleader").empty();
			})


            function SendMessage(ticket_id){
            	var_message = $("#message").val()
			    if(var_message == ''){
			        alert("请填写回复内容");
			        $("#var_message").focus();
			        return false;
			    }

			    $.ajax({
			        url: '/myticket/',
			        type: "POST",
			        dataType: "json",
			        data:{'type':"sendmessage",'message':var_message,'ticket_id':ticket_id},
			        error: function () {
			        	alert("SendMessage xx");
			        },
			        success: function (data) {
			        	window.location.href="/myticket/?type=view&ticketid="+ticket_id
			        }
			    });
            }

		</script>

{% endblock %}
