
{% extends 'index.html' %}

{% block head-page-specific-plugin-styles %}
	<!-- 特定页面CSS -->
		<link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.full.min.css" />
		<link rel="stylesheet" href="/static/css/datepicker.css" />
		<link rel="stylesheet" href="/static/css/ui.jqgrid.css" />
{% endblock %}




{% block body-breadcrumb %}
						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="/">Home</a>
							</li>
							<li>管理后台</li>
							<li class="active">工单类型管理</li>
						</ul><!-- .breadcrumb -->
{% endblock %}


{% block body-page-content %}
	<div class="page-content">
	{% if page_content == 0 %}
		<div class="row">

			<div class="col-xs-12">

				<div class="widget-box">
					<div class="widget-header widget-header-small">
						<h5 class="lighter">搜索框</h5>
					</div>
					<div class="widget-body">
						<div class="widget-main">

							<div class="row">
								<div class="col-sm-4">
								<input id="autosearch" name="autosearch" type="checkbox" class="ace" onclick="enableAutosubmit(this.checked)" />
								<span class="lbl">启用自动搜索</span>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-4">
									<div class="input-group">
									  <span class="input-group-addon">工单类型:</span>
									  <input type="text" id="search_name" placeholder=" 请输入工单类型" class="form-control search-query " onkeydown="doSearch(arguments[0]||event)" aria-describedby="basic-addon3" >
									</div>
								</div>

								<div class="col-sm-4">
									<div class="input-group">
										<span class="input-group-btn">
											<button type="button" id="searchButton" name="searchButton" class="btn btn-purple btn-sm" onclick="gridReload();">
												搜索
												<i class="icon-search icon-on-right bigger-110"></i>
											</button>
										</span>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="space-4"></div>
				<div class="space-4"></div>
				<div class="space-4"></div>
				<div class="space-4"></div>
			</div><!-- /.col -->


			<div class="col-xs-12">
				<table id="type-table"></table>
				<div id="type-pager"></div>
			</div><!-- /.col -->

		</div><!-- /.row -->

		<div class="modal fade bs-example-modal-lg" id="modalTicketTypeOperating" name="modalTicketTypeOperating" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
			<div class="modal-dialog modal-lg" style="width:70%">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
						<h4 class="modal-title" id="modal_operating_title">工单类型</h4>
						<input type="hidden" id="ticket_type_id" name="ticket_type_id" value="-1" />
					</div>

					<div class="modal-body">

						<div class="row">
							<form class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="ticket_type_name"> 类型名称 </label>

									<div class="col-sm-6">
										<input id="ticket_type_name" name="ticket_type_name" type="text" placeholder="请输入工单类型名称" class="col-xs-10 col-sm-8" />
									</div>
								</div>
								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="ticket_type_executor"> 工单处理人 </label>

									<div class="col-sm-7">
										<select class="col-xs-10 col-sm-4" id="ticket_type_executor" name="ticket_type_executor">
										</select>
									</div>
								</div>
								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="ticket_type_checkleader"> 审核流程 </label>

									<div class="col-sm-10">
										<span class="firstcheckleader">
			                            	<select class="checkleader" name="firstcheckleader" id="firstcheckleader" style="width:100px" onchange="changeCheckLeader(this);">
												<option value="-1" >默认上级</option>
												<option value = "-2">指定人选</option>
			                            	</select>
			                         	</span>
			                         	<a class="btn btn-xs btn-primary" onclick="addCheckLeaderCSS(this)" style="margin-left: 5px;" id="addcheckleader">添加一级</a>
									</div>
								</div>
							</form>
						</div>
					</div> <!-- END -->

					<div class="modal-footer">
						<button class="btn btn-info" id="submit" name="submit" onclick="addTicketType();">
							<i class="icon-ok bigger-110"></i>
							提交
						</button>
						<!--
						&nbsp; &nbsp; &nbsp;
						<button class="btn btn-yellow" type="reset">
							<i class="icon-undo bigger-110"></i>
							重置
						</button>-->

						&nbsp; &nbsp; &nbsp;
						<button type="button" class="btn btn-default" data-dismiss="modal">
							<i class="icon-remove bigger-110"></i>
							关闭
						</button>
		      		</div>
		    	</div>
			</div>
		</div><!-- /.modal -->

		<div class="modal fade bs-example-modal-sm" id="modalTicketTypeDelete" name="modalTicketTypeDelete" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="modal_delect_title">删除工单类型</h4>
						<input type="hidden" id="ticket_type_id_list" name="ticket_type_id_list" value="-1" />
					</div>

					<div class="modal-body">
						<div class="row">

							<div class="col-sm-6">
								<p><b>确认删除工单类型吗 ?</b></p>
								<ul id="suredellist">

								</ul>
							</div>
						</div>
					</div> <!-- END -->

					<div class="modal-footer">
						<button class="btn btn-info" id="submit" name="submit" onclick="sureDelTicketType();">
							<i class="icon-ok bigger-110"></i>
							确定
						</button>
						<!--
						&nbsp; &nbsp; &nbsp;
						<button class="btn btn-yellow" type="reset">
							<i class="icon-undo bigger-110"></i>
							重置
						</button>-->

						&nbsp; &nbsp; &nbsp;
						<button type="button" class="btn btn-default" data-dismiss="modal">
							<i class="icon-remove bigger-110"></i>
							取消
						</button>
		      		</div>
		    	</div>
			</div>
		</div><!-- /.modal -->
	{% else %}
		<div class="row">
			<p>你没有权限访问该页面！</p>
		</div>
	{%endif%}
	</div><!-- /.page-content -->
{% endblock %}


<!-- page specific plugin scripts -->
{% block body-page-specific-plugin-scripts %}
	<!-- 特定页面scripts -->
		<script src="/static/js/date-time/bootstrap-datepicker.min.js"></script>
		<script src="/static/js/jqGrid/jquery.jqGrid.min.js"></script>
		<script src="/static/js/jqGrid/i18n/grid.locale-en.js"></script>
{% endblock %}

	
<!-- inline scripts related to this page -->
{% block body-inline-scripts %}
		<script type="text/javascript">
			jQuery(function($) {

				jQuery("#type-table").jqGrid({
					//direction: "rtl",
					//data: 'json',
					//mtype: 'POST',
					url: '/tickettype?type=load',
					datatype: "json",
					height: 'auto',
					autowidth: true,
					colNames:['ID','工单类型','处理人','审核流程','创建时间','修改时间','操作'],
					colModel:[

						{name:'type_id',index:'type_id', width:30, sorttype:"int", editable: false},
						{name:'type_name',index:'type_name', width:100,editable: false},
						{name:'type_executor',index:'type_executor', width:40,editable: false},
						{name:'type_checkleader',index:'type_checkleader', width:180,editable: false},
						{name:'type_ctime',index:'type_ctime',width:40, editable:false},
						{name:'type_mtime',index:'mype_ctime',width:40, editable:false},		
						{name:'myac',index:'', width:100, fixed:true, sortable:false, resize:false}
					], 
			
					viewrecords : true,
					rowNum:10,
					rowList:[10,20,30],
					pager : "#type-pager",
					altRows: true,
					//toppager: true,
					
					multiselect: true,
					//multikey: "ctrlKey",
			        multiboxonly: true,

					editurl: '/tickettype/',//nothing is saved 注意结尾/ , APPEND_SLASH
					caption: "工单类型",
			
					loadComplete : function() {
						var table = this;
						setTimeout(function(){
							styleCheckbox(table);
							
							updateActionIcons(table);
							updatePagerIcons(table);
							enableTooltips(table);
						}, 0);
					},
			
					//数据结构格式
					jsonReader: {
						root: "data",    //记录值
						total: "total",  //总页数
						page: "page",	  //第几页
						records: "records", //总记录数
						repeatitems: false,
					},

					//定义编辑/删除按钮
		            gridComplete : function() {
		              var ids = jQuery("#type-table").jqGrid('getDataIDs');
		              for ( var i = 0; i < ids.length; i++) {
		                var cl = ids[i];
						var x=document.getElementById('type-table').rows[cl].cells;
						var typeid=x[1].innerHTML
						var typename=x[2].innerHTML
		                be = '<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalTicketTypeOperating" onclick="editTicketType('+typeid+');">编辑</button>  <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modalTicketTypeDelete" onclick="delTicketType(\''+typeid+'\',\''+typename+'\');">删除</button>';
		                jQuery("#type-table").jqGrid('setRowData', ids[i],
		                    {
		                      myac : be
		                    });
		              }
		            },
				});
			
				//enable search/filter toolbar
				//jQuery("#type-table").jqGrid('filterToolbar',{defaultSearch:true,stringResult:true})
			
						
                //自定义按钮			
                jQuery("#type-table").jqGrid('navGrid',"#type-pager",{edit:false,add:false,del:false,search:false,refresh:false}).jqGrid('navButtonAdd',"#type-pager",{
				   caption:"",   
				   buttonicon:'icon-plus-sign purple',   
				   onClickButton: function(){   
				     //alert("Adding Row");  
				     getPrincipal();
				     $('#modalTicketTypeOperating').modal('show');
				   },   
				   position:"first",
				   title:'新增',
				}).jqGrid('navButtonAdd',"#type-pager",{
				   caption:"",   
				   buttonicon:'icon-trash red',   
				   onClickButton: function(){   
				     //alert("Adding Row");
				     var selectedIds = $("#type-table").jqGrid("getGridParam", "selarrrow");
				     if(selectedIds == ""){
				     	alert("请先选择行");
				     	return "" ;
					 };

					 var ul_list=""
					 var id_list=""
				     for(cl in selectedIds){
				     	x=document.getElementById('type-table').rows[selectedIds[cl]].cells;
					 	typeid=x[1].innerHTML;
					 	typename=x[2].innerHTML;

					 	ul_list = ul_list+'<li class="text-danger"><b> ID: </b>'+typeid+' ; <b>类型名称: </b>'+typename+'</li>'
					 	if(id_list == ""){
					 		id_list = typeid
					 	}else{
					 		id_list = typeid+","+id_list
					 	}
					 };

					 document.getElementById('ticket_type_id_list').value = id_list ;
					 $("#suredellist").html(ul_list)
				     $('#modalTicketTypeDelete').modal('show');

				   },   
				   position:"last",
				   title:'删除',
				}).jqGrid('navButtonAdd',"#type-pager",{
				   caption:"",   
				   buttonicon:'icon-refresh green',   
				   onClickButton: function(){   
				     //alert("refresh Row");  
				     //$('#modalid').modal('show');
				     jQuery("#type-table").jqGrid('setGridParam', {}).trigger("reloadGrid");
				   },   
				   position:"last",
				   title:'刷新',
				});


				//it causes some flicker when reloading or navigating grid
				//it may be possible to have some custom formatter to do this as the grid is being created to prevent this
				//or go back to default browser checkbox styles for the grid
				function styleCheckbox(table) {
					/**
					$(table).find('input:checkbox').addClass('ace')
					.wrap('<label />')
					.after('<span class="lbl align-top" />')
			
			
					$('.ui-jqgrid-labels th[id*="_cb"]:first-child')
					.find('input.cbox[type=checkbox]').addClass('ace')
					.wrap('<label />').after('<span class="lbl align-top" />');
					*/
				}
				
				//unlike navButtons icons, action icons in rows seem to be hard-coded
				//you can change them like this in here if you want
				function updateActionIcons(table) {
					/**
					var replacement = 
					{
						'ui-icon-pencil' : 'icon-pencil blue',
						'ui-icon-trash' : 'icon-trash red',
						'ui-icon-disk' : 'icon-ok green',
						'ui-icon-cancel' : 'icon-remove red'
					};
					$(table).find('.ui-pg-div span.ui-icon').each(function(){
						var icon = $(this);
						var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
						if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
					})
					*/
				}
				
				//replace icons with FontAwesome icons like above
				function updatePagerIcons(table) {
					var replacement = 
					{
						'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
						'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
						'ui-icon-seek-next' : 'icon-angle-right bigger-140',
						'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
					};
					$('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
						var icon = $(this);
						var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
						
						if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
					})
				}
			
				function enableTooltips(table) {
					$('.navtable .ui-pg-button').tooltip({container:'body'});
					$(table).find('.ui-pg-div').tooltip({container:'body'});
				}
				//var selr = jQuery("#type-table").jqGrid('getGridParam','selrow');

			});


			// 提交表单数据
			function addTicketType(){

				var var_ticket_type_id = $("#ticket_type_id").val();
				if(var_ticket_type_id == '-1'){
					var post_type = "addtickettype";
				}else{
					var post_type = "edittickettype";
				}

				var var_ticket_type_name = $("#ticket_type_name").val();
			    if(var_ticket_type_name == ''){
			        alert("请填写类型名称");
			        $("#ticket_type_name").focus();
			        return false;
			    }
			    
                var ticket_type_executor_val = $("#ticket_type_executor").find("option:selected").val();
                //var ticket_type_executor_text = $("#ticket_type_executor").find("option:selected").text();
			    if(ticket_type_executor_val == '0'){
			        alert("请选择处理人");
			        $("#ticket_type_executor").focus();
			        return false;
			    }


			    var checkleaderarr =[];
			    $(".checkleader").each(function(){
			        if($(this).is('select')){
			        	//alert($(this).find("option:selected").text())
			        	//alert($(this).find("option:selected").val())
			        	var tmp_checkleader_var = $(this).find("option:selected").val()
			        	//var tmp_checkleader_text = $(this).find("option:selected").text()
					    if(tmp_checkleader_var == '0'){
					        alert("请选择指定审核人");
					        $(this).focus();
					        return false;
					    }
			            checkleaderarr.push(tmp_checkleader_var);
			        }
			    });
			    var var_checkleader = checkleaderarr.join(',');
			    //alert(var_checkleader);
			    //alert(var_ticket_type_name+ticket_type_executor_val+var_checkleader);

			    $.ajax({
			        url: '/tickettype/',
			        type: "POST",
			        dataType: "json",
			        data:{'type':post_type,'ticket_type_id':var_ticket_type_id,'ticket_type_name':var_ticket_type_name,'ticket_type_executor':ticket_type_executor_val,'checkleader':var_checkleader},
			        error: function () {
			        	alert("xxx");
			        },
			        success: function (data) {
			        	alert("ok");

			        	$('#modalTicketTypeOperating').modal('hide');
						jQuery("#type-table").jqGrid('setGridParam', {}).trigger("reloadGrid");
			        }
			    });
			}

			// 编辑工单类型
			function editTicketType(typeid){

				getPrincipal();

				document.getElementById('ticket_type_id').value = typeid ;

			    $.ajax({
			        url: '/tickettype/',
			        type: "POST",
			        dataType: "json",
			        data:{'type':"gettyperecord",'ticket_type_id':typeid},
			        error: function () {
			        	alert("x");
			        },
			        success: function (data) {
			        	//alert(data['type_id']+" , "+data['type_name']);

			        	document.getElementById('ticket_type_name').value = data['type_name'];

			        	type_executor_val = data['type_executor'].split("_")[0]
			        	$("#ticket_type_executor").find("option[value='"+type_executor_val+"']").attr("selected",true);
			        	

			        	var oplist = new Array();
			        	for(key_num in data['users']){
			        		oplist.push('<option value="' + data['users'][key_num]['id'] + '">' + data['users'][key_num]['username'] + '(' + data['users'][key_num]['engname']  + ')</option>');
			        	}


			        	$("#firstcheckleader").remove();
			        	var i = 0
			        	for(checkleader in data['type_checkleader']){
			        		//alert(data['type_checkleader'][checkleader]);
			        		var userinfo = data['type_checkleader'][checkleader] 
			        		var user_id = userinfo.split("_")[0]

			        		if(user_id=="-1"){

							    if(i == 0){
							        $("#addcheckleader").before('<span class="firstcheckleader"><select class="checkleader" name="firstcheckleader" id="firstcheckleader" style="width:100px" onchange="changeCheckLeader(this);"><option value="-1" selected>默认上级</option><option value = "-2">指定人选</option></select></span>');
							    }else{
							        $("#addcheckleader").before('<span class="morecheckleader"><span class="glyphicon glyphicon-arrow-right"></span><select class="checkleader" onchange="changeCheckLeader(this);" style="width: 140px"> <option value="-1" selected>默认上级</option><option value = "-2">指定人选</option></select></span>');
							    }

			        		}else{

							    if(i == 0){
							        $("#addcheckleader").before('<span class="firstcheckleader"><select class="checkleader" name="firstcheckleader" id="firstcheckleader" style="width:140px" onchange="changeCheckLeader(this);"><option value="0">--选择指定审核人--</option>'+ oplist.join('') + '</select></span>');
							        $("#firstcheckleader").find("option[value='"+user_id+"']").attr("selected",true);
							    }else{
							        $("#addcheckleader").before('<span class="morecheckleader"><span class="glyphicon glyphicon-arrow-right"></span><select class="checkleader" name="checkleader_' + i + '" id="checkleader_' + i + '" onchange="changeCheckLeader(this);" style="width: 140px"><option value="0">--选择指定审核人--</option>'+ oplist.join('') + '</select></span>');

							        $("#checkleader_"+i).find("option[value='"+user_id+"']").attr("selected",true);
							    }

			        		}

			        		i = i + 1 
			        	}

			        	if(i>1){
						    if($("#addcheckleader").next().is("a")) {
						    }else{
						        $("#addcheckleader").after('<a class="btn btn-xs btn-primary" onclick="delCheckLeaderCSS(this)" style="margin-left: 5px" id="delcheckleader">删除一级</a>')
						    }
			        	}

			        }
			    });
			}

			// 删除工单类型
			function delTicketType(typeid,typename){
				document.getElementById('ticket_type_id_list').value = typeid ;
				$("#suredellist").html('<li class="text-danger"><b> ID: </b>'+typeid+' ; <b>类型名称: </b>'+typename+'</li>')
			};

			function sureDelTicketType(){

				var var_type_id_list = $("#ticket_type_id_list").val();

			    $.ajax({
			        url: '/tickettype/',
			        type: "POST",
			        dataType: "json",
			        data:{'type':'deltickettype','type_id_list':var_type_id_list},
			        error: function () {
			        	alert("xxx");
			        },
			        success: function (data) {
			        	//alert("ok");
			        	$('#modalTicketTypeOperating').modal('hide');
						jQuery("#type-table").jqGrid('setGridParam', {}).trigger("reloadGrid");
			        }
			    });

				$('#modalTicketTypeDelete').modal('hide');
			}

			// 添加(审核人)下拉选择框样式
			function addCheckLeaderCSS(obj){
			    if($(obj).prev().is("select")){
			        var preval = $(obj).prev().val();
			    }else if($(obj).prev().is("span")){
			        var preval = $(obj).prev().find(".checkleader").val();
			    }
			    var hasboss = false;
			    $(".checkleader").each(function(){
			        if($(this).val() == "-1"){
			            hasboss = true;
			        }
			    })
			    if(hasboss == true){  //前面是默认上级,那么后面只能是指定人选了
			        var len = $(".checkleader").length;
			        $(obj).before('<span class="morecheckleader"><span class="glyphicon glyphicon-arrow-right"></span><select class="checkleader" id="checkleader_'+len+'" onchange="changeCheckLeader(this);" style="width:100px" num="0"><option value = "-2">指定人选</option></select></span>');
			        getCheckLeader($("#checkleader_"+len));
			    }else{
			        $(obj).before('<span class="morecheckleader"><span class="glyphicon glyphicon-arrow-right"></span><select class="checkleader" onchange="changeCheckLeader(this);" style="width: 100px"> <option value="-1">默认上级</option><option value = "-2">指定人选</option></select></span>')
			    }
			    if($(obj).next().is("a")) {
			    }else{
			        $(obj).after('<a class="btn btn-xs btn-primary" onclick="delCheckLeaderCSS(this)" style="margin-left: 5px" id="delcheckleader">删除一级</a>')
			    }
			}

			// 删除(审核人)下拉选择框样式
			function delCheckLeaderCSS(obj){
			    if($(obj).prev().prev().is("span") && $(obj).prev().prev().prev().is("select")){
			        $(obj).prev().prev().remove();
			        $(obj).remove();
			    }else if($(obj).prev().prev().is("span") && $(obj).prev().prev().prev().is("span")){
			        $(obj).prev().prev().remove();
			    }
			    if($(obj).prev().prev().hasClass("firstcheckleader")){
			        $(obj).remove();
			    }
			}

			// 获取审核人名单,设置(指定审核人)下拉选择框
			function getCheckLeader(obj){
			    $.ajax({
			        url: '/tickettype/',
			        type: "POST",
			        dataType: "json",
			        data:{'type':"getcheckleader"},
			        error: function () {
			            obj.parent().html((obj.parent().hasClass('firstcheckleader') ? '':'<span class="glyphicon glyphicon-arrow-right"></span>') +'<select class="checkleader" style="width:140px" ><option value="0">--选择指定审核人--</option></select>');
			        },
			        success: function (data) {

			        	var oplist = new Array();
			        	for( key_num in data ){
			        		oplist.push('<option value="' + data[key_num]['id'] + '">' + data[key_num]['username'] + '(' + data[key_num]['engname']  + ')</option>');
			        	}

			            obj.parent().html((obj.parent().hasClass('firstcheckleader') ? '':'<span class="glyphicon glyphicon-arrow-right"></span>') +'<select class="checkleader" style="width:140px" ><option value="0">--选择指定审核人--</option>' + oplist.join('') + '</select>');
			            oplist = null;
			        }
			    });
			}

			// 获取用户名单,设置(工单处理人)下拉选择框
			function getPrincipal(){
			    $.ajax({
			        url: '/tickettype/',
			        type: "POST",
			        dataType: "json",
			        data:{'type':"getcheckleader"},
			        error: function () {
			        	alert("getprincipal xx");
			        },
			        success: function (data) {

			        	$("#ticket_type_executor").append('<option value="0">--选择工单处理人--</option>'); 

			        	for( key_num in data ){
			        		$("#ticket_type_executor").append('<option value="' + data[key_num]['id'] + '">' + data[key_num]['username'] + '(' + data[key_num]['engname']  + ')</option>'); 
			        	};

			        }
			    });
			}

			//获取指定审核人名单
			function changeCheckLeader(obj){
			    if($(obj).val() == "-2"){
			        getCheckLeader($(obj));
			    }
			}

			//关闭 modalTicketTypeOperating 时触发
			$('#modalTicketTypeOperating').on('hide.bs.modal', function (e) {
				document.getElementById('ticket_type_name').value = "";
				document.getElementById('ticket_type_id').value = "-1";
			    //$("#ticket_type_executor").find('option[selected="selected"]').removeAttr("selected");
			    $("#ticket_type_executor").empty();

	        	$("#firstcheckleader").remove();
			   	$(".morecheckleader").each(function(){$(this).remove();});
			    $(".checkleader").each(function(){$(this).remove();});
			    $("#delcheckleader").remove();
			    $("#addcheckleader").before('<span class="firstcheckleader"><select class="checkleader" name="firstcheckleader" id="firstcheckleader" style="width:100px" onchange="changeCheckLeader(this);"><option value="-1">默认上级</option><option value = "-2">指定人选</option></select></span>');
			})


			//关闭 modalTicketTypeDelete 时触发
			$('#modalTicketTypeDelete').on('hide.bs.modal', function (e) {
				//Do something
			})


	        // search
			var timeoutHnd;
			var flAuto = false;
			function doSearch(ev) {
				if(!flAuto){
				  return;
				};
				
				if(timeoutHnd){
					clearTimeout(timeoutHnd);
				}

				timeoutHnd = setTimeout(gridReload, 1000);
			}

			function gridReload(){
				var search_name = jQuery("#search_name").val()||"";
				jQuery("#type-table").jqGrid('setGridParam', {
					url : "/tickettype?type=search&search_name=" + search_name,
					page : 1
				}).trigger("reloadGrid");
			}

			function enableAutosubmit(state) {
				flAuto = state;
				jQuery("#searchButton").attr("disabled", state);
			}


		</script>
{% endblock %}
