
<div class="page-content"> 
	<div class="row">
		<div class="space-4"></div>
		<div class="space-4"></div>
		<div class="space-4"></div>
		<div class="space-4"></div>

		<!--工单header-->
		<div class="col-xs-12 col-sm-12">
			<div class="table-responsive">
				<table id="sample-table-1" class="table table-bordered">

					<tbody>
						<tr>
							<td style="width:8%;" bgcolor='#b5bbed'><b>标题</b></td>
							<td style="width:50%;">{{ tickets_info.ticket_title }}</td>
							<td style="width:8%;" bgcolor='#b5bbed'><b>创建者</b></td>

							<td >{{ tickets_info.ticket_creator }}</td>
						</tr>

						<tr>
							<td style="width:8%;" bgcolor='#b5bbed'><b>工单号</b></td>
							<td style="width:50%;">{{ tickets_info.ticket_id }}</td>
							<td style="width:8%;" bgcolor='#b5bbed'><b>创建时间</b></td>

							<td>{{ tickets_info.ticket_ctime }}</td>
						</tr>
						<tr>
							<td style="width:8%;" bgcolor='#b5bbed'><b>流程状态</b></td>
							<td>
								<span class="label label-info arrowed-right arrowed-in">{{tickets_info.ticket_creator}}</span>
								<i class="icon-arrow-right icon-on-right"></i>
								{% for checkper in tickets_info.ticket_checkleader %}
								<span class="label label-info arrowed-right arrowed-in"> {{ checkper }} </span>
								<i class="icon-arrow-right icon-on-right"></i>
								{% endfor %}
								<span class="label label-info arrowed-right arrowed-in">{{ tickets_info.ticket_executor }}</span>
							</td>
							<td style="width:8%;" bgcolor='#b5bbed'><b>操作</b></td>
							<td>
								
								{%if tickets_info.ticket_status == 2 %}
								<button class="btn btn-sm btn-success" onclick="ticket_operating('{{tickets_info.ticket_id}}','check','0');">审核通过</button>
								<button class="btn btn-sm btn-warning" id="check_test" onclick="ticket_operating('{{tickets_info.ticket_id}}','check','1');">审核不通过</button>
								{%elif tickets_info.ticket_status == 6 %}
								<button class="btn btn-sm btn-success" onclick="ticket_operating('{{tickets_info.ticket_id}}','exec','0');">确认执行</button>
								<button class="btn btn-sm btn-warning" onclick="ticket_operating('{{tickets_info.ticket_id}}','exec','1');">无法执行</button>
								{%elif ticket_record.ticket_status == 6 %}
								<button class="btn btn-sm btn-success" onclick="ticket_operating('{{tickets_info.ticket_id}}','com','0');">完成</button>
								{%elif ticket_record.ticket_status == 10 %}
								<button class="btn btn-sm btn-success" onclick="ticket_operating('{{tickets_info.ticket_id}}','close','0');">关闭</button>
								{% else %}
								<button class="btn btn-sm btn-danger" onclick="ticket_operating('{{tickets_info.ticket_id}}','delete','0');">删除工单</button>
								{% endif%}
								
							</td>
						</tr>
					</tbody>
				</table>

			</div><!-- /.table-responsive -->
		</div><!-- /span -->

		<!--工单详情-->
		<div class="col-xs-12 col-sm-12">
			<div class="widget-box">
				<div class="widget-header widget-header-blue widget-header-flat">
					<h4>工单详情</h4>

					<div class="widget-toolbar">

						<a href="#" data-action="collapse">
							<i class="icon-chevron-up"></i>
						</a>
					</div>

				</div>

				<div class="widget-body">
					<div class="widget-main">
						<form class="form-horizontal" role="form" action="/myticket/" method="post">
							<input type="hidden" id="type" name="type" value="modifyticket"/>
							<input type="hidden" id="needticketid" name="needticketid" value="{{ tickets_info.ticket_id }}" />
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="needrequire"> 需求 </label>

								<div class="col-sm-9">
									{% if tickets_info.ticket_status == 1 %}
									<textarea id="needrequire" name="needrequire" class="col-xs-10 col-sm-8"  placeholder="请输入你的需求">{{ tickets_info.ticket_require }}</textarea>
									{% else %}
									<textarea id="needrequire" name="needrequire" class="col-xs-10 col-sm-8"  placeholder="请输入你的需求" readonly="true" >{{ tickets_info.ticket_require }}</textarea>
									{% endif %}
								</div>
							</div>

							<div class="space-4"></div>

							{% if tickets_info.ticket_status == 9 %}
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right " for="needresult"> 结果 </label>

								<div class="col-sm-9">
									<textarea id="needresult" name="needresult" class="col-xs-10 col-sm-8"  placeholder="请输入处理结果"></textarea>
								</div>
							</div>
							{% endif %}
							<div class="space-4"></div>

							{% if tickets_info.ticket_status == 1 %}
							<div class="clearfix form-actions">
								<div class="col-md-offset-3 col-md-9">

									<button class="btn btn-info" type="submit" id="submit" name="submit">
										<i class="icon-ok bigger-110"></i>
										提交
									</button>

									&nbsp; &nbsp; &nbsp;
									<button class="btn btn-yellow" type="save" id="save" name="save">
										<i class=" icon-hdd bigger-110"></i>
										保存
									</button>

									&nbsp; &nbsp; &nbsp;
									<button class="btn" type="reset">
										<i class="icon-undo bigger-110"></i>
										重置
									</button>
								</div>
							</div>
							{% endif %}
						</form>
					</div>
				</div>
			</div>
		</div><!-- /span -->

		<!--操作记录-->
		<div class="col-xs-12 col-sm-12">
			<div class="widget-box">
				<div class="widget-header widget-header-blue widget-header-flat">
					<h4>操作记录</h4>

					<div class="widget-toolbar">
						<a href="#" data-action="collapse">
							<i class="icon-chevron-up"></i>
						</a>
					</div>
				</div>

				<div class="widget-body">
					<div class="widget-main">
						<p>xxxxxxxx</p>
					</div>
				</div>
			</div>
		</div><!-- /span -->

		<!--评论回复-->
		<div class="col-xs-12 col-sm-12">

			<div class="widget-box">
				<div class="widget-header widget-header-blue widget-header-flat">
					<h4>评论回复</h4>

					<div class="widget-toolbar">
						<a href="#" data-action="collapse">
							<i class="icon-chevron-up"></i>
						</a>
					</div>
				</div>


				<div class="widget-body">
					<div class="widget-main no-padding">
						<div class="dialogs">
							<p>xxxxxxxx</p>
						</div>

						<form>
							<div class="form-actions">
								<div class="input-group">
									<input placeholder="在这里输入你的消息 ..." type="text" class="form-control" name="message" />
									<span class="input-group-btn">
										<button class="btn btn-sm btn-info no-radius" type="button">
											<i class="icon-share-alt"></i>
											发送
										</button>
									</span>
								</div>
							</div>
						</form>
					</div><!-- /widget-main -->
				</div><!-- /widget-body -->
			</div>
		</div><!-- /span -->

	</div><!-- /.row -->
</div><!-- /.page-content -->