{% extends 'index.html' %}

{% block head-page-specific-plugin-styles %}
	<!-- 特定页面CSS -->
		<link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.min.css" />
		<link rel="stylesheet" href="/static/css/chosen.css" />
		<link rel="stylesheet" href="/static/css/datepicker.css" />
		<link rel="stylesheet" href="/static/css/bootstrap-timepicker.css" />
		<link rel="stylesheet" href="/static/css/daterangepicker.css" />
		<link rel="stylesheet" href="/static/css/colorpicker.css" />
{% endblock %}





{% block body-breadcrumb %}
						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="/">Home</a>
							</li>
							<li>工单系统</li>
							<li class="active">新建工单</li>
						</ul><!-- .breadcrumb -->
{% endblock %}


{% block body-page-content %}
					<div class="page-content">
						<div class="row">

							<div class="col-sm-12">
								<div class="tabbable">
									<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="applyTab">
										<li class="active">
											<a data-toggle="tab" href="#applyneed">通用需求</a>
										</li>
										<li >
											<a data-toggle="tab" href="#applyproject">申请项目</a>
										</li>
									</ul>

									<div class="tab-content">

										<div id="applyneed" class="tab-pane in active">
											<form class="form-horizontal" role="form" action="/ticketadd/" method="post">
												<input type="hidden" id="type" name="type" value="addneed"/>

												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right" for="tickettype"> 工单类型 </label>

													<div class="col-sm-9">
														<select class="col-xs-10 col-sm-4" id="tickettype" name="tickettype">
																<option value="0"> --请选择工单类型-- </option>
																{% for type_record in type_records_list%}
																<option value="{{type_record.type_id}}">{{type_record.type_name}}</option>
																{%endfor%}
														</select>
													</div>
												</div>


												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right" for="needtitle"> 标题 </label>

													<div class="col-sm-9">
														<input id="needtitle" name="needtitle" type="text" placeholder="请输入需求标题" class="col-xs-10 col-sm-8" />
													</div>
												</div>

												<div class="space-4"></div>

												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right" for="needrequire"> 需求 </label>

													<div class="col-sm-9">
														<textarea id="needrequire" name="needrequire" class="col-xs-10 col-sm-8"  placeholder="请输入你的需求"></textarea>
													</div>
												</div>

												<div class="space-4"></div>
<!-- 
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right" for="needprincipal"> 处理人 </label>

													<div class="col-sm-9">
														<select class="col-xs-10 col-sm-4" id="needprincipal" name="needprincipal">
																<option value="0"> --请选择处理人-- </option>
																{% for user in users_dic%}
																<option value="{{user.u_id}}"> {{user.u_name}}({{user.u_enname}}) </option>
																{%endfor%}
														</select>
													</div>
												</div>

												<div class="space-4"></div> -->

												<div class="form-group hide">
													<label class="col-sm-3 control-label no-padding-right " for="needresult"> 结果 </label>

													<div class="col-sm-9">
														<textarea id="needresult" name="needresult" class="col-xs-10 col-sm-8"  placeholder="请输入处理结果"></textarea>
													</div>
												</div>


												<div class="space-4"></div>

												<div class="clearfix form-actions">
													<div class="col-md-offset-3 col-md-9">

														<button class="btn btn-info" type="submit" id="submit" name="submit">
															<i class="icon-ok bigger-110"></i>
															提交
														</button>

														&nbsp; &nbsp; &nbsp;
														<button class="btn btn-yellow" type="save" id="save" name="save">
															<i class=" icon-hdd bigger-110"></i>
															保存
														</button>

														&nbsp; &nbsp; &nbsp;
														<button class="btn" type="reset">
															<i class="icon-undo bigger-110"></i>
															重置
														</button>
													</div>
												</div>
											</form>
										</div>

										<div id="applyproject" class="tab-pane">
											<p>申请项目</p>
										</div>

									</div>
								</div>
							</div><!-- /span -->

						</div><!-- /.row -->
					</div><!-- /.page-content -->
{% endblock %}



<!-- page specific plugin scripts -->
{% block body-page-specific-plugin-scripts %}
	<!-- 特定页面scripts -->
		<script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="/static/js/jquery.ui.touch-punch.min.js"></script>
		<script src="/static/js/chosen.jquery.min.js"></script>
		<script src="/static/js/fuelux/fuelux.spinner.min.js"></script>
		<script src="/static/js/date-time/bootstrap-datepicker.min.js"></script>
		<script src="/static/js/date-time/bootstrap-timepicker.min.js"></script>
		<script src="/static/js/date-time/moment.min.js"></script>
		<script src="/static/js/date-time/daterangepicker.min.js"></script>
		<script src="/static/js/bootstrap-colorpicker.min.js"></script>
		<script src="/static/js/jquery.knob.min.js"></script>
		<script src="/static/js/jquery.autosize.min.js"></script>
		<script src="/static/js/jquery.inputlimiter.1.3.1.min.js"></script>
		<script src="/static/js/jquery.maskedinput.min.js"></script>
		<script src="/static/js/bootstrap-tag.min.js"></script>
{% endblock %}

	
<!-- inline scripts related to this page -->
{% block body-inline-scripts %}

{% endblock %}
