
{% extends 'index.html' %}

{% block head-page-specific-plugin-styles %}
	<!-- 特定页面CSS -->
	<link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.full.min.css" />
	<link rel="stylesheet" href="/static/css/datepicker.css" />
	<link rel="stylesheet" href="/static/css/ui.jqgrid.css" />
{% endblock %}


{% block body-breadcrumb %}
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="/">Home</a>
		</li>
		<li>管理后台</li>
		<li class="active">用户管理</li>
	</ul><!-- .breadcrumb -->
{% endblock %}


{% block body-page-content %}
	<div class="page-content"> <!-- PAGE CONTENT BEGINS -->
	{% if page_content == 0 %}
		<div class="row">
			<div class="col-xs-12">

				<div class="widget-box">
					<div class="widget-header widget-header-small">
						<h5 class="lighter">搜索框</h5>
					</div>
					<div class="widget-body">
						<div class="widget-main">

							<div class="row">
								<div class="col-sm-4">
								<input id="autosearch" name="autosearch" type="checkbox" class="ace" onclick="enableAutosubmit(this.checked)" />
								<span class="lbl">启用自动搜索</span>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-4">
									<div class="input-group">
									  <span class="input-group-addon">用户名:</span>
									  <input type="text" id="search_name" placeholder=" 请输入用户名" class="form-control search-query " onkeydown="doSearch(arguments[0]||event)" aria-describedby="basic-addon3" >
									</div>
								</div>

								<div class="col-sm-4">
									<div class="input-group">
										<span class="input-group-btn">
											<button type="button" id="searchButton" name="searchButton" class="btn btn-purple btn-sm" onclick="gridReload();">
												搜索
												<i class="icon-search icon-on-right bigger-110"></i>
											</button>
										</span>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="space-4"></div>
				<div class="space-4"></div>
				<div class="space-4"></div>
				<div class="space-4"></div>
			</div><!-- /.col -->

			<div class="col-xs-12">
				
				<table id="users-table"></table>
				<div id="users-pager"></div>

			</div><!-- /.col -->
		</div><!-- /.row -->
	{%elif page_content == 1 %}
		<div id="user-profile" class="user-profile row">
			<div class="col-sm-offset-1 col-sm-10">
				<!--<div class="well well-sm">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					&nbsp;
					<div class="inline middle blue bigger-110"> Your profile is 70% complete </div>

					&nbsp; &nbsp; &nbsp;
					<div style="width:200px;" data-percent="70%" class="inline middle no-margin progress progress-striped active">
						<div class="progress-bar progress-bar-success" style="width:70%"></div>
					</div>
				</div><!-- /well --> -->

				<div class="space"></div>

				<form class="form-horizontal">
					<div class="tabbable">
						<ul class="nav nav-tabs padding-16">
							<li class="active">
								<a data-toggle="tab" href="#edit-basic">
									<i class="green icon-edit bigger-125"></i>
									Basic Info
								</a>
							</li>

							<li>
								<a data-toggle="tab" href="#edit-settings">
									<i class="purple icon-cog bigger-125"></i>
									Settings
								</a>
							</li>

							<li>
								<a data-toggle="tab" href="#edit-password">
									<i class="blue icon-key bigger-125"></i>
									Password
								</a>
							</li>
						</ul>

						<div class="tab-content profile-edit-tab-content">
							<div id="edit-basic" class="tab-pane in active">
								<h4 class="header blue bolder smaller">General</h4>

								<div class="row">
									<div class="col-xs-12 col-sm-4">
										<input type="file" />
									</div>

									<div class="vspace-xs"></div>

									<div class="col-xs-12 col-sm-8">
										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-username">Username</label>

											<div class="col-sm-8">
												<input class="col-xs-12 col-sm-10" type="text" id="form-field-username" placeholder="Username" value="alexdoe" />
											</div>
										</div>

										<div class="space-4"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-first">Name</label>

											<div class="col-sm-8">
												<input class="input-small" type="text" id="form-field-first" placeholder="First Name" value="Alex" />
												<input class="input-small" type="text" id="form-field-last" placeholder="Last Name" value="Doe" />
											</div>
										</div>
									</div>
								</div>

								<hr />
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-date">Birth Date</label>

									<div class="col-sm-9">
										<div class="input-medium">
											<div class="input-group">
												<input class="input-medium date-picker" id="form-field-date" type="text" data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy" />
												<span class="input-group-addon">
													<i class="icon-calendar"></i>
												</span>
											</div>
										</div>
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right">Gender</label>

									<div class="col-sm-9">
										<label class="inline">
											<input name="form-field-radio" type="radio" class="ace" />
											<span class="lbl"> Male</span>
										</label>

										&nbsp; &nbsp; &nbsp;
										<label class="inline">
											<input name="form-field-radio" type="radio" class="ace" />
											<span class="lbl"> Female</span>
										</label>
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-comment">Comment</label>

									<div class="col-sm-9">
										<textarea id="form-field-comment"></textarea>
									</div>
								</div>

								<div class="space"></div>
								<h4 class="header blue bolder smaller">Contact</h4>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-email">Email</label>

									<div class="col-sm-9">
										<span class="input-icon input-icon-right">
											<input type="email" id="form-field-email" value="alexdoe@gmail.com" />
											<i class="icon-envelope"></i>
										</span>
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-website">Website</label>

									<div class="col-sm-9">
										<span class="input-icon input-icon-right">
											<input type="url" id="form-field-website" value="http://www.alexdoe.com/" />
											<i class="icon-globe"></i>
										</span>
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-phone">Phone</label>

									<div class="col-sm-9">
										<span class="input-icon input-icon-right">
											<input class="input-medium input-mask-phone" type="text" id="form-field-phone" />
											<i class="icon-phone icon-flip-horizontal"></i>
										</span>
									</div>
								</div>

								<div class="space"></div>
								<h4 class="header blue bolder smaller">Social</h4>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-facebook">Facebook</label>

									<div class="col-sm-9">
										<span class="input-icon">
											<input type="text" value="facebook_alexdoe" id="form-field-facebook" />
											<i class="icon-facebook blue"></i>
										</span>
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-twitter">Twitter</label>

									<div class="col-sm-9">
										<span class="input-icon">
											<input type="text" value="twitter_alexdoe" id="form-field-twitter" />
											<i class="icon-twitter light-blue"></i>
										</span>
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-gplus">Google+</label>

									<div class="col-sm-9">
										<span class="input-icon">
											<input type="text" value="google_alexdoe" id="form-field-gplus" />
											<i class="icon-google-plus red"></i>
										</span>
									</div>
								</div>
							</div>

							<div id="edit-settings" class="tab-pane">
								<div class="space-10"></div>

								<div>
									<label class="inline">
										<input type="checkbox" name="form-field-checkbox" class="ace" />
										<span class="lbl"> Make my profile public</span>
									</label>
								</div>

								<div class="space-8"></div>

								<div>
									<label class="inline">
										<input type="checkbox" name="form-field-checkbox" class="ace" />
										<span class="lbl"> Email me new updates</span>
									</label>
								</div>

								<div class="space-8"></div>

								<div>
									<label class="inline">
										<input type="checkbox" name="form-field-checkbox" class="ace" />
										<span class="lbl"> Keep a history of my conversations</span>
									</label>

									<label class="inline">
										<span class="space-2 block"></span>

										for
										<input type="text" class="input-mini" maxlength="3" />
										days
									</label>
								</div>
							</div>

							<div id="edit-password" class="tab-pane">
								<div class="space-10"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-pass1">New Password</label>

									<div class="col-sm-9">
										<input type="password" id="form-field-pass1" />
									</div>
								</div>

								<div class="space-4"></div>

								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-pass2">Confirm Password</label>

									<div class="col-sm-9">
										<input type="password" id="form-field-pass2" />
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="button">
								<i class="icon-ok bigger-110"></i>
								Save
							</button>

							&nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="icon-undo bigger-110"></i>
								Reset
							</button>
						</div>
					</div>
				</form>
			</div><!-- /span -->
		</div><!-- /user-profile -->
	{% else %}
		<div class="row">
			<p>你没有权限访问该页面！</p>
		</div>
	{%endif%}
	</div><!-- /.page-content -->

{% endblock %}


<!-- page specific plugin scripts -->
{% block body-page-specific-plugin-scripts %}
	<!-- 特定页面scripts -->
	<script src="/static/js/date-time/bootstrap-datepicker.min.js"></script>
	<script src="/static/js/jqGrid/jquery.jqGrid.min.js"></script>
	<script src="/static/js/jqGrid/i18n/grid.locale-en.js"></script>
{% endblock %}

	
<!-- inline scripts related to this page -->
{% block body-inline-scripts %}
	<script type="text/javascript">
		jQuery(function($) {
			jQuery("#users-table").jqGrid({
				//direction: "rtl",
				//data: 'json',
				//mtype: 'POST',
				url: '/users?type=load',
				datatype: "json",
				height: 'auto',
				colNames:['UID','用户名','英文名','角色', '所属部门', '邮箱','创建时间','修改时间',' '],
				colModel:[
					{name:'u_id',index:'u_id', width:70, sorttype:"int", editable: false},
					{name:'u_name',index:'u_name', width:150,editable: true,editoptions:{size:"20",maxlength:"30"}},
					{name:'u_enname',index:'u_enname', width:150,editable: true,editoptions:{size:"20",maxlength:"30"}},
					{name:'u_role',index:'u_role', width:150,editable: true,edittype:"select",editoptions:{value:"1:普通用户;2:部门负责人"}},
					{name:'u_department',index:'u_department', width:150,editable: true,edittype:"select",editoptions:{value:getDepartment}},
					{name:'u_email',index:'u_email', width:150,editable: false},
					{name:'u_ctime',index:'u_ctime', width:110,editable: false},
					{name:'u_mtime',index:'u_mtime', width:110,editable: false},
					{name:'myac',index:'', width:80, fixed:true, sortable:false, resize:false,
						formatter:'actions', 
						formatoptions:{ 
							keys:true,
							delOptions:{recreateForm: true, beforeShowForm:beforeDeleteCallback},
							//editformbutton:true, editOptions:{recreateForm: true, beforeShowForm:beforeEditCallback}
						}
					}
				], 
		
				viewrecords : true,
				rowNum:10,
				rowList:[10,20,30],
				pager : "#users-pager",
				altRows: true,
				//toppager: true,
				
				multiselect: true,
				//multikey: "ctrlKey",
		        multiboxonly: true,
		
				loadComplete : function() {
					var table = this;
					setTimeout(function(){
						styleCheckbox(table);
						
						updateActionIcons(table);
						updatePagerIcons(table);
						enableTooltips(table);
					}, 0);
				},
		
				editurl: '/users/',//nothing is saved 注意结尾/ , APPEND_SLASH
				caption: "用户管理",
				autowidth: true,

				jsonReader: {
					root: "data",
					total: "total",
					page: "page",
					records: "records",
					repeatitems: false,
				},
			});
		
			//enable search/filter toolbar
			//jQuery("#users-table").jqGrid('filterToolbar',{defaultSearch:true,stringResult:true})
		
			//switch element when editing inline
			function aceSwitch( cellvalue, options, cell ) {
				setTimeout(function(){
					$(cell) .find('input[type=checkbox]')
							.wrap('<label class="inline" />')
						.addClass('ace ace-switch ace-switch-5')
						.after('<span class="lbl"></span>');
				}, 0);
			}
			//enable datepicker
			function pickDate( cellvalue, options, cell ) {
				setTimeout(function(){
					$(cell) .find('input[type=text]')
							.datepicker({format:'yyyy-mm-dd' , autoclose:true}); 
				}, 0);
			}


			function getDepartment(){

				var department_str = ""
			    $.ajax({
			        url: '/department/',
			        type: "POST",
			        dataType: "json",
			        async:false,  //设置为同步，等这个ajax有了返回值后才会执行下面的js
			        data:{'type':"getdepartment"},
			        error: function () {
			        	alert("xxx");
			        },
			        success: function (data) {
			        	//alert(data['data']);
			        	department_str =  data['data']
			        }
			    });
			    return department_str
			}
		
		
			//navButtons
			jQuery("#users-table").jqGrid('navGrid',"#users-pager",
				{ 	//navbar options
					edit: true,
					editicon : 'icon-pencil blue',
					add: true,
					addicon : 'icon-plus-sign purple',
					del: true,
					delicon : 'icon-trash red',
					search: true,
					searchicon : 'icon-search orange',
					refresh: true,
					refreshicon : 'icon-refresh green',
					view: true,
					viewicon : 'icon-zoom-in grey',
				},
				{
					//edit record form
					//closeAfterEdit: true,
					recreateForm: true,
					beforeShowForm : function(e) {
						var form = $(e[0]);
						form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
						style_edit_form(form);
					}
				},
				{
					//new record form
					closeAfterAdd: true,
					recreateForm: true,
					viewPagerButtons: false,
					beforeShowForm : function(e) {
						var form = $(e[0]);
						form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
						style_edit_form(form);
					}
				},
				{
					//delete record form
					recreateForm: true,
					beforeShowForm : function(e) {
						var form = $(e[0]);
						if(form.data('styled')) return false;
						
						form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
						style_delete_form(form);
						
						form.data('styled', true);
					},
					onClick : function(e) {
						alert(1);
					}
				},
				{
					//search form
					recreateForm: true,
					afterShowSearch: function(e){
						var form = $(e[0]);
						form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
						style_search_form(form);
					},
					afterRedraw: function(){
						style_search_filters($(this));
					}
					,
					multipleSearch: true,
					/**
					multipleGroup:true,
					showQuery: true
					*/
				},
				{
					//view record form
					recreateForm: true,
					beforeShowForm: function(e){
						var form = $(e[0]);
						form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
					}
				}
			)
		
		
			
			function style_edit_form(form) {
				//enable datepicker on "sdate" field and switches for "stock" field
				form.find('input[name=sdate]').datepicker({format:'yyyy-mm-dd' , autoclose:true})
					.end().find('input[name=stock]')
						  .addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');
		
				//update buttons classes
				var buttons = form.next().find('.EditButton .fm-button');
				buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
				buttons.eq(0).addClass('btn-primary').prepend('<i class="icon-ok"></i>');
				buttons.eq(1).prepend('<i class="icon-remove"></i>')
				
				buttons = form.next().find('.navButton a');
				buttons.find('.ui-icon').remove();
				buttons.eq(0).append('<i class="icon-chevron-left"></i>');
				buttons.eq(1).append('<i class="icon-chevron-right"></i>');		
			}
		
			function style_delete_form(form) {
				var buttons = form.next().find('.EditButton .fm-button');
				buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
				buttons.eq(0).addClass('btn-danger').prepend('<i class="icon-trash"></i>');
				buttons.eq(1).prepend('<i class="icon-remove"></i>')
			}
			
			function style_search_filters(form) {
				form.find('.delete-rule').val('X');
				form.find('.add-rule').addClass('btn btn-xs btn-primary');
				form.find('.add-group').addClass('btn btn-xs btn-success');
				form.find('.delete-group').addClass('btn btn-xs btn-danger');
			}
			function style_search_form(form) {
				var dialog = form.closest('.ui-jqdialog');
				var buttons = dialog.find('.EditTable')
				buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'icon-retweet');
				buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'icon-comment-alt');
				buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'icon-search');
			}
			
			function beforeDeleteCallback(e) {
				var form = $(e[0]);
				if(form.data('styled')) return false;
				
				form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
				style_delete_form(form);
				
				form.data('styled', true);
			}
			
			function beforeEditCallback(e) {
				var form = $(e[0]);
				form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
				style_edit_form(form);
			}
		
		
		
			//it causes some flicker when reloading or navigating grid
			//it may be possible to have some custom formatter to do this as the grid is being created to prevent this
			//or go back to default browser checkbox styles for the grid
			function styleCheckbox(table) {
				/**
				$(table).find('input:checkbox').addClass('ace')
				.wrap('<label />')
				.after('<span class="lbl align-top" />')
		
		
				$('.ui-jqgrid-labels th[id*="_cb"]:first-child')
				.find('input.cbox[type=checkbox]').addClass('ace')
				.wrap('<label />').after('<span class="lbl align-top" />');
				*/
			}
			
		
			//unlike navButtons icons, action icons in rows seem to be hard-coded
			//you can change them like this in here if you want
			function updateActionIcons(table) {
				/**
				var replacement = 
				{
					'ui-icon-pencil' : 'icon-pencil blue',
					'ui-icon-trash' : 'icon-trash red',
					'ui-icon-disk' : 'icon-ok green',
					'ui-icon-cancel' : 'icon-remove red'
				};
				$(table).find('.ui-pg-div span.ui-icon').each(function(){
					var icon = $(this);
					var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
					if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
				})
				*/
			}
			
			//replace icons with FontAwesome icons like above
			function updatePagerIcons(table) {
				var replacement = 
				{
					'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
					'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
					'ui-icon-seek-next' : 'icon-angle-right bigger-140',
					'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
				};
				$('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
					var icon = $(this);
					var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
					
					if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
				})
			}
		
			function enableTooltips(table) {
				$('.navtable .ui-pg-button').tooltip({container:'body'});
				$(table).find('.ui-pg-div').tooltip({container:'body'});
			}
		
			//var selr = jQuery("#users-table").jqGrid('getGridParam','selrow');
		});

        // search
		var timeoutHnd;
		var flAuto = false;
		function doSearch(ev) {
			if(!flAuto){
			  return;
			};
			
			if(timeoutHnd){
				clearTimeout(timeoutHnd);
			}

			timeoutHnd = setTimeout(gridReload, 1000);
		}

		function gridReload(){
			var search_name = jQuery("#search_name").val()||"";
			jQuery("#users-table").jqGrid('setGridParam', {
				url : "/users?type=search&search_name=" + search_name,
				page : 1
			}).trigger("reloadGrid");
		}

		function enableAutosubmit(state) {
			flAuto = state;
			jQuery("#searchButton").attr("disabled", state);
		}
	</script>
{% endblock %}
